<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Género</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <%- include('navbar') %>
    <div class="container mt-5">
        <h1 class="mb-4">Nuevo Género</h1>
        <form action="/generos" method="POST">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="Nombre" required>
            </div>
            <div class="form-group">
                <label for="imageURL">URL de la Imagen</label>
                <input type="text" class="form-control" id="imageURL" name="ImageURL" required>
            </div>
            <button type="submit" class="btn btn-outline-primary">Guardar</button>
        </form>
        <a href="/generos" class="btn btn-outline-secondary mt-3">Volver</a>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>